$font-stack: Georgia, "Futura", Helvetica, Arial, sans-serif;
$primary-color: #283c73;
$secondary-color: #fff;
$sky-gradient-color: linear-gradient(0deg, rgba(255,94,0,1) 0%, rgba(224,195,84,1) 7%, rgba(196,135,159,1) 18%, rgba(66,103,148,1) 39%, rgba(17,40,61,1) 100%);
