@import "normalize";
@import "vars";

body {
  font-family: $font-stack;
  background-color: $primary-color;
  color: $secondary-color;
  text-align: center;
  /*background: url(../images/winter-02.jpeg);*/
  background-size: cover;
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
}

h1 {
  font-family: "Futura", sans-serif;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}

a {
  color: white;
}

.text-center {
  text-align: center;
}

#countdown-output {
  background-color: rgba(255,255,255,0.9);
  color: $primary-color;
  display: block;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2em;
}

#row1 {
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  color: $tertiary-color;
  font-size: 1.2em;
}

p {
  display: block;
}

div {
  width: 100%;
}

@media only screen and (min-width: 900px) {
  #countdown-output {
    font-size: 3vw;
  }

}