@import "normalize";
@import "vars";

html {
  height: -webkit-fill-available;
}

body {
  color: $secondary-color;
  background: $sky-gradient-color;
  //background-color: $primary-color;
  //background-repeat: no-repeat;
  //background-position-x: center;
  //background-position-y: bottom;
  //background-size: cover;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  font-family: $font-stack;
}

footer {
  
  position: absolute;
  top: 0;
  right: 0;

  padding: 1em;

  a {
    color: rgba(255,255,255,0.2);
  } & :hover {
    color: rgb(255, 255, 255);
  }
}

header {
  position: absolute;
  bottom: 1rem;
  left: 50%;

  margin: 0;

  transform: translateX(-50%);
  text-align: center;
  h1 {
    margin-bottom: 0;
    font-family: "Futura";
  }
}

.main-container {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;

  transform: translateY(-75%);
  text-align: center;

  p:first-of-type {
    margin: 0;
    padding: .5em;

    font-size: 1.5em;
  }
}

#countdown-output {
  display: block;

  margin: 0;
  padding: 1em;

  //color: $primary-color;

  font-size: 2em;
}

.countdown-container {
  //background-color: $secondary-color;
}

p {
  padding: 1em;
}

#next-solstice {
  font-weight: bold;
}

@media only screen and (min-width: 900px) {
  #countdown-output {
    font-size:3.5vw;
  }

  footer {
    top: unset;
    bottom: 0;
  }
}
