@import "normalize";
@import "vars";

body {
  font-family: $font-stack;
  background-color: $primary-color;
  color: $secondary-color;
}

h1 {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}

.wrapper {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

a {
  color: white;
}

.text-center {
  text-align: center;
}

// #countdown-output {
//   display: block;
//   background-color: #EFEFEF;
//   color: #283C73;
//   padding: 1em 1rem;
//   font-size: 8vw;
//   width: 100%;
// }


// @media screen and (min-width: 1000px) {
//   #countdown-output {
//       position: absolute;
//       top: 40%;
//       transform: translateY(-50%);
//   }
// }